* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f7f9fc;
    padding: 1rem;
}

h1, h2, h3 {
    color: #2b3d52;
}

a {
    text-decoration: none;
    color: #007BFF;
}

header {
    text-align: center;
    margin-bottom: 1.5rem;
}

header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #009688;
}

header p {
    color: #555;
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 1.5rem;
}

.nav ul li {
    margin: 0 1rem;
}

.nav ul li a {
    color: #2b3d52;
    font-weight: 700;
}

.hero {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(135deg, #ffddc1, #ffe3e3);
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

.hero h2 {
    font-size: 1.5rem;
    color: #e94e77;
}

.hero p {
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #e94e77;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.products {
    margin-bottom: 2rem;
}

.products h2 {
    text-align: center;
    color: #2b3d52;
    margin-bottom: 1rem;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.product-card {
    text-align: center;
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    max-width: 150px;  /* Reduced from 200px to 150px */
    border-radius: 10px;
    margin-bottom: 0.5rem;
}

.product-card h3 {
    color: #e94e77;
    margin-bottom: 0.5rem;
}

.product-card p {
    color: #555;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #2b3d52;
    color: #fff;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.search-bar input {
    width: 70%;
    max-width: 300px;
    padding: 0.5rem;
    border: 2px solid #e94e77;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1rem;
}

.search-bar input::placeholder {
    color: #999;
}

.search-bar .btn-search {
    background-color: #e94e77;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-bar .btn-search:hover {
    background-color: #d43f68;
}

@media (min-width: 600px) {
    .product-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    header h1 {
        font-size: 3rem;
    }

    .hero h2 {
        font-size: 2rem;
    }
}


   
   


  



  
