
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    color: #2c3e50;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0;
}


.header {
    background-color: #2c3e50;
    color: #fff;
    padding: 1.5rem 2rem;
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.search-bar input {
    padding: 0.5rem;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.search-bar button {
    padding: 0.5rem 1rem;
    background-color: #25df8f;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #1abc6e;
}

.main-content {
    padding: 2rem;
}

section {
    margin-bottom: 3rem;
}

section img {
    width: 100%;
    border-radius: 8px;
    margin-top: 1rem;
}

.responsive-image {
    max-width: 100%;
    height: auto;
}

#box {
    border-radius: 8px;
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin-top: 1rem;
}

ul li {
    padding: 0.5rem 0;
    font-size: 1rem;
    color: #596172;
}

ul li:hover {
    color: #2c3e50;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 1rem;
}

.footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.footer p {
    font-size: 1rem;
}

@media (min-width: 768px) {
    .search-bar input {
        width: 40%;
    }

    .search-bar button {
        font-size: 1.1rem;
    }

    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    section {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .main-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .search-bar input {
        width: 30%;
    }

    .search-bar button {
        font-size: 1.2rem;
    }
}
